html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5.5em;
    line-height: 0.9;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 2em;
    line-height: 0.9;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.8em;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
}

p {
    padding-bottom: 0;
    line-height: 1.2;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    transition: 0.5s ease-in-out;
}

/* fixed navigation bar */

nav {
    width: 100vw;
    height: 70px;
    position: fixed;
    background-color: #C7B6BF;
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 320px 1fr;
    grid-template-areas: 
    "name links";
}

.nav-name {
    grid-area: name;
    color: white;
    padding-left: 10vw;
    justify-content: flex-start;
    align-self: center;
}

h3#nav-name {
    margin-top: 0;
    font-size: 28px;
}

#nav-name:hover {
    color: mediumblue;
}

.links {
    grid-area: links;
    color: white;
    padding-right: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    padding-left: 2vw;
}

.nav-links:hover {
    color: darkslategray;
}

/* fixed footer */

footer {
    width: 100vw;
    height: 8vh;
    margin-top: 92vh;
    position: fixed;
    display: grid;
    background-color: transparent;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "trustkimberly links";
}

.background-color {
    background-color: white;
}

.background-color2 {
    background-color: #005c5c;
    color: white;
}

.trustkimberly {
    font-size: 16px;
    grid-area: trustkimberly;
    padding-left: 10vw;
    justify-content: flex-start;
    align-self: center;
    transition: 0.5s ease-in-out;
}

#trustkimberly-link:hover {
    color: thistle;
}
  
.links-container {
    font-size: 16px;
    grid-area: links;
    padding-right: 10vw;
    justify-self: end;
    align-self: center;
}

a.linktree:hover {
    color: blue;
}

/* landing section */

header {
    height: 75vh;
    padding: 0 10vw;
    display: grid;
    grid-template-rows: 75vh;
    grid-template-columns: 350px 390px 1fr;
    grid-template-areas: 
    "portrait name about";
}

#portrait {
    width: 350px;
    height: 400px;
    object-fit: cover;
    grid-area: portrait;
    align-self: end;
}

.name {
    margin-left: 25px;
    grid-area: name;
    align-self: end;
}

.about {
    grid-area: about;
    padding-left: 2vw;
    align-self: end;
    border-left: 4px blue solid;
    font-size: 18px;
}

p.bottom {
    padding-bottom: 18px;
}

/* bouncing arrow */

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

i {
    display: block;
}

.arrow {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 60px;
    color: teal;
}
  
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    animation-fill-mode: forwards;
}

/* about section  */

.about-container {
    height: auto;
    width: 50vw;
    padding: 30vh 40vw 0 10vw;
    font-size: 18px;
}

.cv-link {
    background-color: teal;
    border: teal 2px solid;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.cv-link:hover {
    color: teal;
    background-color: whitesmoke;
}

/* education and awards section  */

.education-container {
    height: auto;
    padding: 30vh 10vw 0;    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 350px 1fr;
    grid-template-areas: 
    "education awards";
}

.education {
    grid-area: education;
}

.awards {
    grid-area: awards;
    border-left: 4px mediumblue solid;
    padding-left: 30px;
}

.inline {
    display: inline-block;
    margin-top: 0;
}

/* research and publications section  */

.research-container {
    height: auto;
    padding: 30vh 10vw 0;    
    display: grid;
    grid-template-rows: 30px auto auto auto auto auto auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "title title"
    "date1 article1"
    "date2 article2"
    "date3 article3"
    "date4 article4"
    "date5 article5"
    "date6 article6";
}

.title {
    grid-area: title;
}

.date1 {
    grid-area: date1;
}

.article1 {
    grid-area: article1;
}

.date2 {
    grid-area: date2;
}

.article2 {
    grid-area: article2;
}

.date3 {
    grid-area: date3;
}

.article3 {
    grid-area: article3;
}

.date4 {
    grid-area: date4;
}

.article4 {
    grid-area: article4;
}

.date5 {
    grid-area: date5;
}

.article5 {
    grid-area: article5;
}

.date6 {
    grid-area: date6;
}

.article6 {
    grid-area: article6;
}

p.date {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 600;
    color: mediumblue;
}

/* teaching and talks section  */

.teaching-container {
    height: auto;
    padding: 30vh 10vw 20vh;    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 350px 1fr;
    grid-template-areas: 
    "teaching talks";
}

.teaching {
    grid-area: teaching;
}

.talks {
    grid-area: talks;
    padding-left: 30px;
    border-left: 4px mediumblue solid;

}

.title-link {
    text-decoration: none;
    transition: 0.5s ease-in-out;
    color: black;
}

.title-link:hover {
    color: #00b0b0;
}

/* end of site footer  */

.large-footer {
    width: 80vw;
    height: 200px;
    color: whitesmoke;
    background-color: #005c5c;
    padding: 50px 10vw 80px;    
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-areas: 
    "footer-name sitemap footer-contact";
    transition: 0.5s ease-in-out;
}

.footer-name {
    grid-area: footer-name;
    color: cornsilk;
}

.sitemap {
    grid-area: sitemap;
}

h3.top {
    margin-top: 0.5em;
}

h4.bottom {
    margin-bottom: 0.2em;
}

h4.margins {
    margin-bottom: 0.2em;
    margin-top: 0.6em;
}

.footer-contact {
    grid-area: footer-contact;
}

.sitemap-link:hover {
    color: #94b9ff;
}

.footer-link:hover {
    color: mediumblue;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
        font-size: 2.5em;
        line-height: 0.9;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    h2 {
        font-size: 1.8em;
        line-height: 0.9;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 0.8em;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    p {
        padding-bottom: 0;
        line-height: 1.2;
    }

    nav {
        width: 100vw;
        height: 50px;
        position: fixed;
        display: block;
        background-color: #C7B6BF;
        color: white;
        justify-self: center;
        align-self: center;
    }
    
    h3#nav-name {
        font-size: 20px;
        margin-top: 12px;
    }

    .links {
        display: none;
    }
    
    footer {
        width: 100vw;
        height: 8vh;
        margin-top: 92vh;
        position: fixed;
        display: grid;
        background-color: transparent;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 
        "trustkimberly links";
    }
    
    .trustkimberly {
        font-size: 12px;
    }

      
    .links-container {
        font-size: 12px;
    }

    header {
        height: 75vh;
        padding: 13vh 10vw 8vh;
        display: block;
        /* grid-template-rows: 350px 1fr;
        grid-template-columns: 300px 300px 1fr;
        grid-template-areas: 
        "portrait portrait portrait"
        "name about about"; */
    }
    
    #portrait {
        width: 80vw;
        height: 70vw;
        object-fit: cover;
        /* grid-area: portrait; */
        align-self: center;
    }

    .name {
        margin: 30px 0;
    }

    .arrow {
        display: none;
    }

    .about-container {
        height: auto;
        width: 80vw;
        padding: 15vh 10vw 10vh;
        font-size: 18px;
        display: block;
    }

    .education-container {
        height: auto;
        padding: 0;
        display: block;
    }

    .education {
        height: auto;
        grid-area: education;
        padding: 15vh 10vw 5vh;
    }

    .awards {
        height: auto;
        padding: 15vh 10vw 5vh;
        display: block;
        border: none;
    }

    .research-container {
        height: auto;
        width: 80vw;
        padding: 15vh 10vw 5vh;
        display: grid;
        grid-template-rows: 55px auto auto auto auto auto auto;
        grid-template-columns: 90px 1fr;
        grid-template-areas: 
        "title title"
        "date1 article1"
        "date2 article2"
        "date3 article3"
        "date4 article4"
        "date5 article5"
        "date6 article6";
    }

    p.date {
        font-size: 16px;
        margin-top: 18px;
        font-weight: 400;
        color: mediumblue;
    }

    .teaching-container {
        height: auto;
        padding: 0;
        display: block;
    }

    .teaching {
        height: auto;
        padding: 15vh 10vw 5vh;
    }

    .talks {
        height: auto;
        padding: 15vh 10vw 20vh;
        border: none;
    }

    .large-footer {
        grid-template-columns: 1.5fr 1fr;
        padding: 50px 10vw 80px;
        grid-template-areas: 
        "sitemap footer-contact";
    }

    .footer-name {
        display: none;
    }

    .sitemap {
        grid-area: footer-contact;
    }

    .footer-contact {
        grid-area: sitemap;
    }

}